<h1>Bulk Discounts Show Page</h1>

<h2>Bulk Discount ID: <%= @bulk_discount.id %></h2>

<h3>Attributes:</h3>
<p><%= @bulk_discount.percentage_discount %>% Discount</p>
<p>Purchase of <%= @bulk_discount.quantity_threshold %> or more</p>

<%= link_to "Edit this Discount", edit_merchant_bulk_discount_path(@merchant.id, @bulk_discount.id) %>
